[submodule "onion-monero-blockchain-explorer"]
	path = onion-monero-blockchain-explorer
	url = https://github.com/moneroexamples/onion-monero-blockchain-explorer
[submodule "basicswap"]
	path = basicswap
	url = https://github.com/basicswap/basicswap/
[submodule "http-tar-streamer"]
	path = http-tar-streamer
	url = https://github.com/blackswifthosting/http-tar-streamer
